@charset "utf-8";
/*========================================
Version：1.0 Date：2014/11/30
Compatible Kernel：WebKit、Blink
Author：Radom
========================================*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body,h1,h2,h3,h4,h5,h6,p,br,form,input,button,textarea,select,fieldset,legend,blockquote,ul,ol,li,dl,dt,dd,pre,table,caption,tr,td,th,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0; font:.12rem/.14rem 'Microsoft Yahei',"Arial";}
html,body{font-family:"Arial","Microsoft"; color:#666;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
button,select,textarea,input{vertical-align:middle;}
a,a:hover{text-decoration:none; color:#333;}
ul,ol,li{list-style:none;}
img,fieldset{border:0;}
img{width:100%;}
address,cite,code,em,var,abbr,acronym,dfn{font-style:normal}
i{display:inline-block; font-style:normal;}
img{vertical-align:top;}
button{border:none;}
mark{background:#ff0;}
div,p,li,pre{word-wrap:break-word;}
input[type=text],input[type=password],input[type=email],input[type=search],input[type=submit],textarea{border:none;background:none;padding:4px;-webkit-appearance:none;appearance:none;}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=search]:focus,textarea:focus{color:#353535;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,section,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,summary,audio,video{display:block;}
.d-box{display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;}
.b-flex{-ms-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.clearfix{zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.db{display:block;}
.d-box{display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;}
.b-flex{-ms-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;}

.font-face1{font-family:'Conv_IMPACT',arial,'Microsoft Yahei';}
@font-face {
	font-family: 'Conv_IMPACT';
	src: url('fonts/IMPACT.eot');
	src: local('☺'), url('fonts/IMPACT.woff') format('woff'), url('fonts/IMPACT.ttf') format('truetype'), url('fonts/IMPACT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{/*overflow:hidden;*/}

/*v2.0*/
@font-face {
  font-family: 'fontello';
  src: url('../fontnew/font/fontello.eot?21818114');
  src: url('../fontnew/font/fontello.eot?21818114#iefix') format('embedded-opentype'),
       url('../fontnew/font/fontello.woff2?21818114') format('woff2'),
       url('../fontnew/font/fontello.woff?21818114') format('woff'),
       url('../fontnew/font/fontello.ttf?21818114') format('truetype'),
       url('../fontnew/font/fontello.svg?21818114#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21818114#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-01:before { content: '\e800'; } /* '' */
.icon-02:before { content: '\e801'; } /* '' */
.icon-03:before { content: '\e802'; } /* '' */
.icon-04:before { content: '\e803'; } /* '' */
.icon-05:before { content: '\e804'; } /* '' */
.icon-06:before { content: '\e805'; } /* '' */
.icon-07:before { content: '\e806'; } /* '' */
.icon-08:before { content: '\e807'; } /* '' */
.icon-09:before { content: '\e808'; } /* '' */
.icon-10:before { content: '\e809'; } /* '' */
.icon-11:before { content: '\e80a'; } /* '' */
.icon-12:before { content: '\e80b'; } /* '' */
.icon-13:before { content: '\e80c'; } /* '' */
.icon-14:before { content: '\e80d'; } /* '' */
.icon-15:before { content: '\e80e'; } /* '' */
.icon-16:before { content: '\e80f'; } /* '' */
.icon-17:before { content: '\e810'; } /* '' */
.icon-18:before { content: '\e811'; } /* '' */
.icon-19:before { content: '\e812'; } /* '' */
.icon-20:before { content: '\e813'; } /* '' */
.icon-21:before { content: '\e814'; } /* '' */
.icon-22:before { content: '\e815'; } /* '' */
.icon-23:before { content: '\e816'; } /* '' */